SDJ3_project_assignment/WebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://webserver.tier2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://common/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://webserver.tier2">
    <wsdl:types>
        <xs:schema xmlns:ax22="http://common/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webserver.tier2">
            <xs:import namespace="http://common/xsd"/>
            <xs:element name="getProducts">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getProductsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Product"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://common/xsd">
            <xs:complexType name="Product">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="palletReferences" nillable="true" type="ax21:Pallet"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parts" nillable="true" type="ax21:CarPart"/>
                    <xs:element minOccurs="0" name="productType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Pallet">
                <xs:sequence>
                    <xs:element minOccurs="0" name="maxWeight" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parts" nillable="true" type="ax21:CarPart"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:int"/>
                    <xs:element minOccurs="0" name="typeOfPart" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CarPart">
                <xs:sequence>
                    <xs:element minOccurs="0" name="car" nillable="true" type="ax21:Car"/>
                    <xs:element minOccurs="0" name="registrationNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="weight" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Car">
                <xs:sequence>
                    <xs:element minOccurs="0" name="chassisNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="model" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="weight" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getProductsRequest">
        <wsdl:part name="parameters" element="ns:getProducts"/>
    </wsdl:message>
    <wsdl:message name="getProductsResponse">
        <wsdl:part name="parameters" element="ns:getProductsResponse"/>
    </wsdl:message>
    <wsdl:portType name="WebServicePortType">
        <wsdl:operation name="getProducts">
            <wsdl:input message="ns:getProductsRequest" wsaw:Action="urn:getProducts"/>
            <wsdl:output message="ns:getProductsResponse" wsaw:Action="urn:getProductsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WebServiceSoap11Binding" type="ns:WebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getProducts">
            <soap:operation soapAction="urn:getProducts" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WebServiceSoap12Binding" type="ns:WebServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getProducts">
            <soap12:operation soapAction="urn:getProducts" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WebServiceHttpBinding" type="ns:WebServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getProducts">
            <http:operation location="getProducts"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WebService">
        <wsdl:port name="WebServiceHttpSoap11Endpoint" binding="ns:WebServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/WebService"/>
        </wsdl:port>
        <wsdl:port name="WebServiceHttpSoap12Endpoint" binding="ns:WebServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/WebService"/>
        </wsdl:port>
        <wsdl:port name="WebServiceHttpEndpoint" binding="ns:WebServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/WebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
